:root {
  --primary: #434583;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 2000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.849);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-left: -190px;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .imgae-size {
  block-size: 100px;
  margin-left: -80px;
  margin-bottom: -23px;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-extra a {
  color: #fff;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../image/jase-bloor-oCZHIa1D4EU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 10%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}
.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  background-color: #1b1d52;
}

/* about section start */
.about {
  padding: 10rem 7% 7rem;
}

.about h2 {
  text-align: center;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-image {
  flex: 1 1 45rem;
}

.about .row .about-image img {
  width: 100%;
  width: 500px;
  display: flex;
  margin: auto;
}

.about .row .about-image p {
  text-align: center;
  font-size: 2rem;
}

/* about section end */

/* contact section start */
.kontak {
  padding: 10rem;
}

.kontak h3 {
  text-align: center;
  color: var(--primary);
}

.kontak .kontak-alamat {
  padding-top: 6rem;
  display: block;
  width: 100%;
  width: 220px;
  margin: auto;
}

.kontak .kontak-alamat .icon {
  margin-left: -2rem;
  padding: 5px;
}

/* footer */
footer {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* contact section end */

/* media  queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* media  end */
